body {
    background-color: rgb(6, 7, 12);
    font-family: 'Work Sans', sans-serif;
}
   
h1, h2, h3, h4, h5, h6 {
    color:#f0f8ff;
    font-family: 'Crimson Text', serif;
}

/* Split screen */

/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 60%;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  width: 40%;
  background-color: red;
}

#chart-container {
    z-index: 1;
    border: 1px black solid;
}
#chart {
    display:none;
    pointer-events: none;
    background-color: white;
    width: 350px;
    height: 350px;
}

#map {
    width: 80vw; 
    /* height: 80vh; */
    /* margin-right: auto;
    margin-left: auto; */
    /* position: fixed;
    top: 50%;
    left: 50%; */
    /* -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

/*  timeline bar */

#play-button {
    position: absolute;
    top: 140px;
    left: 50px;
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
  }

  #play-button:hover {
    background-color: #696969;
  }   

      
  .ticks {
    font-size: 10px;
  }

  .track,
  .track-inset,
  .track-overlay {
    stroke-linecap: round;
  }

  .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
  }

  .track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
  }

  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
  }

  .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
  }




  /* segmented control: */

#sector {
  display: flex;
  max-width: 336px;
  width: 100%;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
}
#sector > input {
  display: none;
}
#sector > input:checked + label {
  color: #3395DE;
}
#sector > input:nth-of-type(1):checked ~ label:last-of-type:before {
  transform: translateX(calc(0% + 0px));
}
#sector > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}
#sector > input:nth-of-type(3):checked ~ label:last-of-type:before {
  transform: translateX(calc(200% + 0px));
}
#sector label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#sector label:last-of-type:before {
  content: "";
  display: block;
  max-width: calc(33.3333333333% - 0px);
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0);
}
#sector label {
  padding: 6px 3px;
  transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
#sector label:before {
  background: #fff;
  transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
#sector label:not(:last-child) {
  border-right: 1px solid #fff;
}
