body {
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}
   
h1, h2, h3, h4, h5, h6 {
  color:#f0f8ff;
  /* font-family: 'Crimson Text', serif; */
}
  
/* header, footer and split screen */
div#header{
  width:100%;
  height:65px;
  position:fixed;
  z-index:100;
  background: linear-gradient(to left, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 
  
div#footer{
  width:100%;
  height:65px;
  position:fixed;
  bottom:0;
  background: linear-gradient(to left, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
div#content{
  background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;
  height:100%;
  position:absolute;
}
    
#splitcontainer {
  position:relative;
  height: 100%;
  width: 100%;
}

.split {
  top: 65px;
  bottom: 65px;
  position: absolute;
  padding: 1em;
}

.split-left {
  right: 60%;
  left: 0;
  border-right: #000 4px solid;
}

.split-right {
  right: 0;
  left: 40%;
  overflow-y: scroll;  
}

/* chart on hover */
#chart-container {
    z-index: 1;
}
#chart {
  display:none;
  pointer-events: none;
  background-color: white;
  width: 350px;
  height: 350px;
  padding: 5px;
  /* border: 2px solid whitesmoke; */
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  border-radius: 5px;
}

#map {
    /* width: 80vw;  */
    /* height: 80vh; */
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*  timeline bar */

#play-button {
  position: absolute;
  top: 140px;
  left: 50px;
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

#play-button:hover {
  background-color: #696969;
}   

    
.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}




/* segmented control: */

#sector {
  display: flex;
  max-width: 336px;
  /* width: 100%; */
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
}
#sector > input {
  display: none;
}
#sector > input:checked + label {
  color: #3395DE;
}
#sector > input:nth-of-type(1):checked ~ label:last-of-type:before {
  transform: translateX(calc(0% + 0px));
}
#sector > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}
#sector > input:nth-of-type(3):checked ~ label:last-of-type:before {
  transform: translateX(calc(200% + 0px));
}
#sector label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#sector label:last-of-type:before {
  content: "";
  display: block;
  max-width: calc(33.3333333333% - 0px);
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0);
}
#sector label {
  padding: 6px 3px;
  transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
#sector label:before {
  background: #fff;
  transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
#sector label:not(:last-child) {
  border-right: 1px solid #fff;
}




/* PIE CHART */
/* legend */
.legend {
  font-size: 14px;
}
rect {
  cursor: pointer; 
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}

/* chart */
#piechart {
  height: 800px;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 1200px;
}

/* tooltip */
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

.footer {
  padding-top: 100px;
  text-align: center;
  list-style-type: none;
}