body {
    background-color: rgb(6, 7, 12);
    font-family: 'Work Sans', sans-serif;
}


   
h1, h2, h3, h4, h5, h6 {
    color:aliceblue;
    font-family: 'Crimson Text', serif;
}


#map {
    width: 80vw; 
    height: 80vh;
    /* margin-right: auto;
    margin-left: auto; */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}